<mat-toolbar color="primary">
  <a
    [routerLink]="'/'"
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
  >
    <mat-icon>menu_books</mat-icon>
  </a>
  <span>Portal de exámenes</span>
  <span class="example-spacer"></span>
  <a
    *ngIf="!login.isLoggenIn()"
    [routerLink]="'/login'"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <h4>Iniciar Sesion</h4>
  </a>
  <a
    *ngIf="!login.isLoggenIn()"
    [routerLink]="'/singup'"
    mat-icon-button
    class="example-icon favorite-icon mr20 ml70"
    aria-label="Example icon-button with heart icon"
  >
    <h4>Registrar</h4>
  </a>
  <a
    *ngIf="login.isLoggenIn()"
    (click) = "LogOut()"
    mat-icon-button
    class="example-icon favorite-icon mr20 ml70"
    aria-label="Example icon-button with heart icon"
  >
    <h4>Cerrar Sesión</h4>
  </a>

  <button
  *ngIf="login.isLoggenIn()"
    mat-button
    style="margin-right: 10px;"
    mat-icon-button
    class="example-icon favorite-icon"
    aria-label="Example icon-button with heart icon"
  >
    <h4>{{login.getUser().username}}</h4>

  </button>

</mat-toolbar>
