<div class="bootstrap-wrapper">
  <div class="container">
    <div class="row mt20">
      <div class="col-md-6 offset-md-3">
        <mat-card>
          <div class="container text-center">
            <img src="../../../assets/login.png" alt="" width="100" height="100">
          </div>
          <h1 class="text-center"> Inicio de Sesión</h1>
          <form action="" class="container">
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Nombre de Usuario</mat-label>
              <input required matInput placeholder="Digite su Usuario">
              <mat-hint>El Nombre de Usuario Debe Ser Válido</mat-hint>
            </mat-form-field>
            <mat-form-field class="full-width" appearance="outline">
              <mat-label>Contraseña :</mat-label>
              <input required type="password" matInput placeholder="Digite su Apellido">
            </mat-form-field>
            <br><br>
            <div class="container text-center mb20">
              <button mat-raised-button color="primary">Iniciar Sesion</button>
              <button type="reset" style="margin-left: 20px;" mat-raised-button color="accent">Limpiar</button>
            </div>
          </form>
        </mat-card>
      </div>
    </div>
  </div>
</div>
